*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* .nav_bar{ */
    /* height: 4rem;
    width: 100%;
    background-color: rgb(197, 241, 241);
    border-bottom: 0.1rem solid rgb(240, 224, 224);
}
.nav_bar_menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_bar_menu a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}

.err_page{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* //=================          home_container */
/* .home_container{
    height: 100vh;
    width: 100%;
    background-color: rgb(250, 234, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.home_container_content h1{
    /* font-size: 5rem; */
/* }
.home_container_content p{
    font-size: 1.5rem;
    text-align: center;
}
.home_container_btn{
    height: 3rem;
    width: 15rem;
    background-color: rgb(91, 69, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_container_btn a{
    text-decoration: none;
    font-size: 2rem;
    /* background-color: blue; */
    /* color: white; */
/* } */

/* //=========================  login */

.login_container_form{ 
    height: calc(100vh - 64px);
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
.login_container{
   width: 30%;
   padding: 20px;
   background: rgba(163, 163, 163, 0.132);
   display: flex;
   flex-direction: column;
   gap: 20px;
}